* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(180deg, #f4f6f8, #e9edf1);
  font-family: 'Poppins', sans-serif;
}

/* TOPO */
@media (max-width: 768px) {
  .produtos {
    padding: 20px;
  }

  header h1 {
    font-size: 26px;
  }
}

header p {
  color: hsl(0, 100%, 43%);
  font-size: 14px;
}

.lista-produtos {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.produto {
  width: 280px;
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.produto {
  width: 320px;
}

.produto {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
  padding: 15px;
  transition: 0.3s;
}

.produto:hover {
  transform: translateY(-6px);
}

.produto img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}

.produto:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}


.produto h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.produto p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

button {
  background: #000000;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1ebe5d;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.produto {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produto:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}

.menu {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.menu a {
  color: hsl(0, 100%, 34%);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
.topo {
  background: linear-gradient(90deg, #000000, #111111);
  padding: 15px 0;
}

.topo-conteudo {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: #6e0000;
  font-size: 42px;
  letter-spacing: 2px;
}

.logo p {
  color: hsl(0, 84%, 43%);
  font-size: 13px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu a {
  color: hwb(0 2% 14% / 0.699);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: hsl(0, 80%, 45%);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  .topo-conteudo {
    flex-direction: column;
    gap: 10px;
  }
}
.menu a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pesquisa {
  position: relative;
  margin-left: 20px;
}

.pesquisa input {
  padding: 10px 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.pesquisa i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 14px;
}

.pesquisa .limpar {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  display: none;
}
.carrinho {
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.carrinho span {
  background: red;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  margin-left: 5px;
}

.carrinho,
.carrinho * {
  color: #ffffff; /* cor das letras do painel */
}


.painel-carrinho {
  position: fixed;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100%;
  background: rgb(192, 1, 1);
  box-shadow: -5px 0 20px hsl(0, 0%, 48%);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.painel-carrinho.ativo {
  right: 0;
}

.painel-carrinho ul {
  list-style: none;
  padding: 0;
}

.painel-carrinho li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.painel-carrinho {
  border-radius: 20px 0 0 20px;
  padding: 20px;
}

.finalizar {
  background: #09fd09;
  font-weight: bold;
}


.total {
  font-weight: bold;
  margin-top: 20px;
}
/* ===== PALETA GERAL ===== */
:root {
  --preto: #0d0d0d;
  --vermelho: #e60000;
  --verde: #25d366;
  --branco: #ffffff;
}

/* ===== TOPO ===== */
header.topo {
  background: linear-gradient(to right, #000, #111);
}

/* LOGO */
.logo h1 {
  font-size: 42px;
  color: var(--vermelho);
  letter-spacing: 2px;
}

.logo p {
  color: #ccc;
}

.carrinho {
  background-color: var(--preto);
}

.carrinho,
.carrinho * {
  color: var(--branco);
}

.carrinho h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.logo img {
  height: 110px;
  width: auto;
  cursor: pointer;
}
@media (max-width: 600px) {
  .logo img {
    height: 45px;
  }
}
#slot-game {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.slots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.slot {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slot-game {
  position: static; 
}

#slot-game button {
  position: static;
}

#resultado {
  margin-top: 10px;
  font-weight: bold;
}
.quantidade {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.quantidade button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.quantidade .qtd {
  font-size: 16px;
  font-weight: bold;
}

.estoque-baixo {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}
.sobre-loja {
  padding: 40px 20px;
  background: #f5f5f5;
  text-align: center;
}

.sobre-loja p {
  max-width: 700px;
  margin: auto;
  font-size: 16px;
  color: #444;
}
.redes {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.redes a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.3s;
}

.redes a:hover {
  transform: scale(1.1);
}

.redes .insta {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}

.redes .whats {
  background-color: #25D366;
}
@media (max-width: 768px) {

  .redes a {
    width: 38px;
    height: 38px;
    font-size: 18px;
  }

}
@media (max-width: 768px) {

  .logo img {
    height: 45px;
  }

}
@media (max-width: 768px) {
  footer p {
    font-size: 14px;
  }
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 60px;
}

.mario-img {
  height: 45px;
}

.logo-area p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}
.mascote-lsm {
  height: 120px;
  width: auto;
}
@media (max-width: 600px) {
  .mascote-lsm {
    height: 45px;
  }
}
@media (max-width: 768px) {

  .lista-produtos {
    grid-template-columns: repeat(2, 1fr);
  }

  .produto img {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 768px) {

  .menu a {
    font-size: 14px;
    padding: 6px 10px;
  }

}
  .mascote-lsm {
    height: 45px;
  }

}
